// 変数　恥ずかしいコメント
$bgcolor: #567762; //コメント
$breakpoint: 800px;

@import '_parts.scss';

/* 通常コメント */
h1 {
  $xyz: black;

  background-color: $bgcolor;
  color: #555;

  strong {
    color: orange;
  }

  +p {
    color: orange;
  }

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}


.text {
  a {
    color: green;

    // & = .text a
    &:hover {
      color: yellow;
    }
  }

  @media (max-width: ($breakpoint - 1px)) {
    font-size: .8rem;
  }
}