// @importは廃止予定
// @import '_parts.scss';

// 代替 @use, @forward
@forward '_parts.scss';
// @use '_variable.scss'; // variable.変数名
// @use '_variable.scss' as v; // v.変数名
// @use '_variable.scss' as *; // 変数名
@use 'variable' as *; // 変数名

/* 通常コメント */
h1 {
  $xyz: black;

  background-color: $bgcolor;
  color: #555;

  strong {
    color: orange;
  }

  +p {
    color: orange;
  }

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}


.text {
  a {
    color: green;

    // & = .text a
    &:hover {
      color: yellow;
    }
  }

  @media (max-width: ($breakpoint - 1px)) {
    font-size: .8rem;
  }
}

@mixin heading($size: 1rem) {
  margin-bottom: 1em;
  margin-top: 0;
  line-height: 1.2;
  font-size: $size;
}

h2 {
  @include heading(2rem);
  background: #fac;
}

h3 {
  @include heading;
}